@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* DARK THEME */
  --color-primary-dark: #121212;
  --color-secondary-dark: #7fa3ff;
  --color-t-dark: #f5f5f5;
  --color-subtext-dark: #b0b0b0;
  --color-elements-dark: #252525;
  --color-border-dark: #3a3a3a;
  --color-interactive-dark: #4dbfac;

  /* LIGHT THEME */
  --color-primary-light: #f8f8f8;
  --color-secondary-light: #1a73e8;
  --color-t-light: #333333;
  --color-subtext-light: #757575;
  --color-elements-light: #ffffff;
  --color-border-light: #e0e0e0;
  --color-interactive-light: #00bfa5;
}
