@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* DARK THEME */
  --color-primary-dark: #121212;
  --color-secondary-dark: #5C8DFF;
  --color-t-dark: #F2F2F2;
  --color-subtext-dark: #A1A1A1;
  --color-elements-dark: #1F1F1F;
  --color-border-dark: #333333;
  --color-interactive-dark: #3BA99C;

  /* LIGHT THEME */
  --color-primary-light: #FAFAFA;
  --color-secondary-light: #2979FF;
  --color-t-light: #222222;
  --color-subtext-light: #6E6E6E;
  --color-elements-light: #FFFFFF;
  --color-border-light: #DDDDDD;
  --color-interactive-light: #46d2d2;
}